.main { 
min-height: 55vh;
flex: 1;
padding: 20px;
background: rgba(46, 211, 236, 0.8);
}
@media (max-width: 768px) {
  .main { 
padding: 15px;

  }
}
@media (max-width: 768px) {
  .main { 
padding: 10px;
text-align: center;

  }
}