<div class="login-card">
  <h2>SignIn</h2>
  <p>Favor SignIn o Forms</p>

  <button class="clean-button" (click)="this.signInForms.reset()">Reset Formulário</button>

  <!--criação do Formulário-->
  <form [formGroup]="signInForms" (ngSubmit)="onSubmit()">

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Digite seu Email" formControlName="email" />

    @if (signInForms.invalid && signInForms.get('email')?.touched) {
    <!--  NgClass é uma das diretivas ela cuida de injetar uma classe de CSS no template caso haja uma booleano true -->
    <div [ngClass]="{
        'error-message':
          signInForms.controls['email'].invalid &&
          signInForms.get('email')?.touched
      }">

      @if (signInForms.hasError('required', 'email')) {
      <small class="warning">
        <p>E-mail é obrigatório</p>
      </small>
      }

      @if (signInForms.get('email')?.getError('email')) {
      <small class="warning">
        Email não válido
      </small>
      }

    </div>
    }

    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password"
      placeholder="Digite sua password, mínimo 6 e máximo de 10 caracteres" />

    @if (signInForms.invalid && signInForms.get('password')?.touched) {
    <div
      [ngClass]="{'error-message': signInForms.controls['password'].invalid && signInForms.get('password')?.touched}">
      @if (signInForms.hasError('required','password' )) {
      <small class="warning">
        <p>
          {{ 'Password é Obrigatória'}}
        </p>

      </small>
      }
      @if (signInForms.hasError('minlenght','password' )) {
      <small class="warning">
        <p>
          {{ 'Password com no minímo 6 caracteres '}}
        </p>

      </small>

      }
      @if (signInForms.hasError("maxlenght","password" )) {
      <small class="warning">
        <p>
          {{ 'Password com no máximo 10 carcteres'}}
        </p>

      </small>
      }




    </div>

    }

    <div class="button-group">
      <button class="go-back" (click)="goBack()">Go Back</button>
      <button class="sign-in" type="submit" [disabled]="signInForms.invalid && signInForms.touched || null">SignIn</button>
    </div>

  </form>
</div>