
.center {
   display: flex;
    width: 100%;
    min-height: 60vh;
    margin: 5%;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 2%;
}

span {
    margin:2%;
}