<header class="Header">
    <nav class="nav">

        <div class="links">

            <a routerLink="/ebook/welcome">welcome</a>
            <a routerLink="/ebook/Lacos">Laços</a>
            <a routerLink="/ebook/Tipo-de-dados">Tipo de dados</a>
            <a routerLink="/ebook/Variaveis">Variáveis</a>
            <a routerLink="/ebook/operadores">Operadores</a>
            <a routerLink="/ebook/Estrutura-de-controles">Estrutura-de-controles</a>

        </div>
        <!-- Nossa tag avatar -->
         <app-avatar></app-avatar>

    </nav>
</header>
